/* CSS Reset */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/*Reset Over */
/* General Styling */

:root {
    --very-light-rose: #fda4af;
    --light-rose: #fb7185;
    --rose: #f43f5e;
    --dark-rose: #e11d48;
    --very-dark-rose: #be123c;
    --bg-dark: #881337;
    ---bg-very-dark: #4c0519;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 50rem;
}

/* Header */

header {
  display: flex;
  align-items: center;
  background-color: var(--bg-dark);
  height: 5.5rem;
}

.logo {
  width: auto;
  height: 5.5rem;
}

nav {
  margin-left: 2rem;
}

.nav-button {
  cursor: pointer;
  background-color: var(---bg-dark);
  color: white;
  border: none;
  width: 7rem;
  height: 5.5rem;
  font-size: 1.5rem;
}

.nav-button:hover {
  background-color: var(--very-dark-rose);
}
