@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS Reset */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/*Reset Over */
/* General Styling */

:root {
  --white-rose: #ffe4e6;
  --very-light-rose: #fda4af;
  --light-rose: #fb7185;
  --rose: #f43f5e;
  --dark-rose: #e11d48;
  --very-dark-rose: #be123c;
  --bg-dark: #881337;
  --bg-very-dark: #4c0519;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 80rem;
  font-family: "EB Garamond", "Cormorant Garamond", "Lora", 'Times New Roman', Times, serif;
}

/* Header */

header {
  display: flex;
  align-items: center;
  background-color: var(--bg-very-dark);
  height: 5.5rem;
  justify-content: center;
}

.logo-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 40rem;
  text-decoration: none;
}

.logo {
  width: auto;
  height: 5.5rem;
}

.header-text {
  color: white;
  text-decoration: none;
}

nav {
  display: flex;
  margin-left: -10rem;
}

.nav-button {
  cursor: pointer;
  background-color: var(--bg-very-dark);
  transition: background-color 0.3s ease;
  color: white;
  border: none;
  width: 7rem;
  height: 5.5rem;
  font-size: 1.5rem;
}

.nav-button:hover {
  background-color: var(--very-dark-rose);
}

/* Content - Home */

#content {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-very-dark);
}

/* Content - Home - Hero */

.hero-container {
  width: 100%;
  height: 32rem;
  background-color: #4c0519;
  position: relative;
  display: grid;
}

.hero-bg {
  width: auto;
  height: 30rem;
  position: absolute;
  top: 0;
  margin-left: 18rem;
  z-index: 0;
  object-fit: cover;
}

.copy-container {
  position: absolute;
  z-index: 1;
  width: 30rem;
  background-color: white;
  border: none;
  grid-column: 2 / -1;
  border-radius: 25px;
  padding: 1.5rem;
  justify-self: center;
  align-self: center;
  margin-left: 20rem;
  margin-bottom: 10rem;
}

.kicker-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  overflow: hidden;
  height: 1rem;
}

.kicker-icon {
  width: 3rem;
  height: auto;
  overflow: hidden;
}

.kicker-text {
  font-size: 0.8rem;
}

.main-copy {
  font-size: 2.5rem;
  line-height: 0.9;
}

.secondary-copy {
  font-size: 0.9rem;
  line-height: 1.2;
  margin-top: 0.5rem;
}

.cta-button {
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0.5rem;
  font-size: 1.4rem;
  border-radius: 25px;
  border: none;
  padding: 0.2rem 1rem 0.2rem 1rem;
  color: white;
  background-color: var(--rose);
}

.cta-button:hover {
  background-color: var(--bg-dark);
}

.hero-img-credit {
  position: absolute;
  color: white;
  justify-self: center;
  bottom: 0.5rem;
  font-size: 0.8rem;
  margin-right: 16rem;
}

.hero-img-credit a {
  color: var(--rose);
  text-decoration: none;
  transition: color 0.3s ease;
  
}

.hero-img-credit a:hover {
  color: var(--light-rose);
}

/* Content - Home - Review */

.review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: white;
  padding-bottom: 2rem;
}

.review-header {
  font-size: 2.2rem;
  margin-top: 2rem;
  font-weight: bold;
}

.customer-container {
  display: grid;
  grid-template: 1fr 3fr / 1fr 4fr;
  width: 40rem;
  padding: 1rem;
  border: 2px solid var(--rose);
  border-radius: 25rem;
}

.customer-img {
  grid-area: 1 / 1 / -1 / 2;
  width: 7rem;
  height: auto;
  overflow: hidden;
  border-radius: 50%;
}

.customer-name {
  font-size: 1.2rem;
  margin-left: 1rem;
}

.customer-img-credit {
  font-size: 0.8rem;
  display: inline;
  margin-left: 11rem;
  font-weight: 500;
}

.customer-img-credit > a {
  text-decoration: none;
  color: var(--rose);
  transition: color 0.3s ease;
}

.customer-img-credit > a:hover {
  color: var(--very-dark-rose);
}

.customer-review {
  line-height: 1.2;
  margin-left: 1rem;
}

/* Content - Menu */

.menu-container {
  width: 55rem;
  min-height: 20rem;
  background-color: white;
  border: 4px solid --bg-dark;
  border-radius: 25px;
  align-self: center;
  margin: 3rem;
  padding: 2rem;
  display: grid;
  grid-template: 0.9fr repeat(3, 1fr) 1fr / 1fr 1fr;
}

.menu-header {
  grid-area: 1 / 1 / 2 / -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10rem;
}

.menu-divider {
  width: 30rem;
  height: auto;
}

.menu-header-text {
  font-size: 2.5rem;
  padding: 0;
  line-height: 1;
  font-weight: 500;
}

.food-container {
  display: grid;
  grid-template: 3rem 1.5rem 7rem / 1fr 1fr;
  padding: 1rem;
}

.food-header {
  line-height: 1;
  grid-area: 1 / 1 / 2 / 2;
}

.food-price {
  line-height: 1;
  grid-area: 2 / 1 / 3 / 2;
}

.food-text {
  line-height: 1;
  grid-area: 3 / 1 / 4 / 2;
  font-size: 0.8rem;
  padding-right: 0.3rem;
}

.food-img {
  width: 100%;
  height: auto;
  grid-area: 1 / 2 / -1 / -1;
  border-radius: 50%;
}

.menu-misc-container {
  grid-area: -2 / 1 / -1 / -1;
  display: grid;
  grid-template: 0.8fr 4fr / 1fr 1fr;
}

.menu-divider-bottom {
  grid-area: 1 / 1 / 2 / -1;
  width: 30rem;
  justify-self: center;
}

.alcohol-menu-container {
  grid-area: 2 / 1 / -1 / 2;
  display: grid;
  grid-template: 1fr 5fr / 3fr 1fr;
  padding: 1rem;
}

.alcohol-text {
  grid-area: 2 / 1 / -1 / 2;
  line-height: 1.5;
  font-size: 0.8rem;
  white-space: pre-line;
  padding-top: 0.3rem;
}

.alcohol-prices {
  grid-area: 2 / 2 / -1 / -1;
  line-height: 1.5;
  font-size: 0.8rem;
  white-space: pre-line;
  padding-top: 0.3rem;
  justify-self: end;
}

.beverage-menu-container {
  grid-area: 2 / 2 / -1 / 3;
  display: grid;
  grid-template: 1fr 5fr / 3fr 1fr;
  padding: 1rem;
}

.bev-header {
  line-height: 1;
  padding-left: 2rem;
}

.bev-text {
  grid-area: 2 / 1 / -1 / 2;
  line-height: 1.5;
  font-size: 0.8rem;
  white-space: pre-line;
  padding-top: 0.3rem;
  padding-left: 2rem;
}

/* Content - About */

.about-page-container {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.about-restaurant-container {
  width: 100%;
  height: 30rem;
  background-color: white;
  display: grid;
  grid-template-columns: 30rem 30rem;
  justify-content: center;
  margin-top: 3rem;
}

.restaurant-img {
  border-radius: 25px 0 0 0;
}

.about-text-container {
  background-color: var(--bg-very-dark);
  border-radius: 0 25px 0 0;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.about-text-header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.divider-about {
  width: 16rem;
  height: auto;
}

.about-text-header {
  color: white;
  font-weight: 500;
  line-height: 1;
  padding: 0.3rem 0 0.6rem 0;
}

.about-text {
  color: white;
  padding-top: 1rem;
  white-space: pre-line;
  font-size: 0.95rem;
}

.chef-container {
  width: 100%;
  height: 30rem;
  background-color: white;
  display: grid;
  grid-template-columns: 30rem 30rem;
  justify-content: center;
  margin-bottom: 3rem;
}

.chef-text-container {
  background-color: var(--bg-very-dark);
  border-radius: 0 0 0 25px;
  padding: 2rem;
}

.chef-img {
  border-radius: 0 0 25px 0;
}

/* Content - Contact */
.contact-container {
  width: 55rem;
  min-height: 20rem;
  background-color: white;
  border: 4px solid --bg-dark;
  border-radius: 25px;
  align-self: center;
  margin: 3rem;
  padding: 0 2em 2rem 2rem;
  display: grid;
  grid-template: 1fr 2fr / 1fr 1fr;
}

.contact-header-container {
  grid-area: 1 / 1 / 2 / -1;
  justify-items: center;
  padding: 1.75rem;
}

.contact-header-text {
  font-size: 2.5rem;
  font-weight: 500;
  padding: 0;
  line-height: 1;
}

.contact-img {
  grid-area: 2 / 1 / -1 / 2;
  border-radius: 25px;
  margin-top: 1rem;
}

.contact-info-container {
  grid-area: 2 / 2 / -1 / -1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.address-container,
.tel-container,
.email-container {
  display: flex;
  flex-direction: column;
}

.contact-text {
  white-space: pre-line;
  line-height: 1.2;
}

.tel-num,
.email-text {
  line-height: 0.8;
}

.contact-button-container {
  display: flex;
  margin-top: 0.5rem;
}

.contact-info-button {
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0.5rem;
  font-size: 1.7rem;
  border-radius: 25px;
  border: none;
  padding: 0.2rem 1rem 0.2rem 1rem;
  color: white;
  background-color: var(--rose);
}

.contact-info-button:hover {
  background-color: var(--bg-very-dark);
}

/* Footer Styling */

footer {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-dark);
}

.credit {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: white;
  font-size: 1.2rem;
}

footer a {
  text-decoration: none;
  color: var(--white-rose);
  transition: color 0.3s ease; 
  cursor: pointer;
}

footer a:hover {
  color: var(--bg-very-dark);
  }

.credit img {
  height: 1.2rem;
  width: 1.2rem;
}